version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly

- package-ecosystem: npm
  directory: /env
  schedule:
    interval: monthly
  groups:
    wp-packages:
      patterns:
        - '@wordpress/*'
