name: 'Test with comparison'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
    - main
    - 'releases/*'

jobs:
  comparison-same:
    name: 'Run tests with same version'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Run performance tests (before)
      id: before
      uses: ./
      with:
        urls: |
          /
          /sample-page/
        plugins: |
          ./tests/dummy-plugin
        blueprint: './tests/blueprint-complex.json'
        iterations: 5
        repetitions: 1
        wp-version: 'latest'
        print-results: false
        upload-artifacts: false

    - name: Run performance tests (after)
      id: after
      uses: ./
      with:
        urls: |
          /
          /sample-page/
        plugins: |
          ./tests/dummy-plugin
        blueprint: './tests/blueprint-complex.json'
        iterations: 5
        repetitions: 1
        wp-version: 'latest'
        previous-results: ${{ steps.before.outputs.results }}
        print-results: true
        upload-artifacts: false
  comparison-different:
    name: 'Run tests with different versions'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Run performance tests (before)
      id: before
      uses: ./
      with:
        urls: |
          /
          /sample-page/
        plugins: |
          ./tests/dummy-plugin
        blueprint: './tests/blueprint-complex.json'
        iterations: 5
        repetitions: 1
        wp-version: '6.7'
        print-results: false
        upload-artifacts: false

    - name: Run performance tests (after)
      id: after
      uses: ./
      with:
        urls: |
          /
          /sample-page/
        plugins: |
          ./tests/dummy-plugin
        blueprint: './tests/blueprint-complex.json'
        iterations: 5
        repetitions: 1
        wp-version: '6.6'
        previous-results: ${{ steps.before.outputs.results }}
        print-results: true
        upload-artifacts: false
